@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.50)
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* allow click-through to backdrop */
  pointer-events: none;
}

#piece-hover-tooltip {
  display: none;
  position: fixed;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  background-color: lightyellow;
}

#submit-phase-button {
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 8px;
}

#submit-phase-button:hover {
  background-color: #c5c5c5;
}

@layer utilities {
  ._button {
    border: 1px solid rgb(46, 52, 58);
    border-radius: 6px;
    padding: 0.5rem;
  }

  ._input {
    border: 1px solid lightgrey;
    border-radius: 1px;
  }
}