@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Almendra Regular';
    src: url('/fonts/Almendra/Almendra-Regular.ttf');
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Almendra Bold';
    src: url('/fonts/Almendra/Almendra-Bold.ttf');
    font-weight: bold;
    font-display: swap;
  }

  body {
    font-size: 20px;
    background-color: black;
  }

  h1, h2, h3, h4 {
    line-height: 100%;
    margin-bottom: 0.25em;
  }

  h1, h2 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1em;
  }
}


/*
 * Home page
 */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* allow click-through to backdrop */
  pointer-events: none;
}


/*
 * Home page
 */
.home-title {
  position: relative;
  background: center / contain url('/images/title-mina-arena.png') no-repeat;
  height: 134px;
  text-indent: -1000em;
}

.home-button, .canvas-wrapper {
  background-color: rgba(223,39,0,1);
  background-image: linear-gradient(0deg, rgba(158,28,3,1) 0%, rgba(223,39,0,1) 100%);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.25),
              inset 0 2px 4px rgba(0,0,0,0.25),
                    0 2px 10px rgba(0,0,0,0.5);
  color: #eeb119; /* Gold */
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 #ca5841;
  border-width: 4px;
  border-color: #eeb119;
  border-style: ridge;

  transition: transform 150ms ease-in-out;
}

.home-button:focus,
.home-button:hover {
  transform: scale(1.03);
}

.text-gold {
  text-shadow: 0 2px 0 rgba(255,255,255,0.25);
}


.instructions {
  text-shadow: 0 0 20px rgb(0,0,0,1), 0 1px 0 rgb(255,255,255,0.3);
}

@layer utilities {
  ._input {
    border: 1px solid lightgrey;
  }
}